html {
    width:100vw;
    overflow-x:hidden;
}

body {
  background-color: #eaf1f3;
}

.container__main {
  border: 2px solid red;
  margin: 2.5rem auto;
  width: 30%;
  padding-bottom: 0.01rem;
}

.header {
  padding: 1.2rem 2rem;
  height: 10%;
  display: flex;
  background-color: #6747cd;
}

.header__logo,
.header__title,
.header__filter {
  width: 33.3%;
  align-self: center;
}

.header__title {
  color: #fff;
}

.header__title,
.nav__all,
.nav__online,
.nav__offline {
  text-align: center;
}

.header__filter {
  display: flex;
  justify-content: flex-end;
}

.svg-inline--fa {
  margin-top: 0.4rem;
  height: 1.25rem;
}

.svg-inline--fa.fa-w-14 {
  width: 1.25rem;
  color: #fff;
}

.header svg {
  stroke: #fff;
}

.header__filter svg {
  height: 20px;
  width: 20px;
}

.search svg {
  height: 16px;
  width: 16px;
  margin-bottom: -0.2rem;
}

.search__container {
  display: flex;
  padding: 0 1.3rem;
}

.container__inner {
  width: 90%;
  margin: 1.3rem auto;
  background-color: #fff;
  height: 60%;
}

.nav {
  padding: 1.5rem 1.5rem 0;
  display: flex;
  justify-content: space-between;
}

.nav__all,
.nav__online,
.nav__offline {
  width: 20%;
  padding-bottom: 0.3rem;
}

.nav span {
  margin-bottom: 0.5rem;
}

.search {
  margin-top: 1.25rem;
  padding-bottom: 0.1rem;
}

.search__input {
  margin-left: 0.7rem;
  padding-bottom: -5rem;
}

.search__input input {
  width: 270px;
}

.results__entry {
  padding: 1.3rem .83rem;
  letter-spacing: 0.5px;
  box-sizing: border-box;
}

.results__container {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

.results__logo {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.results__status-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.results__status--online,
.results__status--offline {
  height: .8rem;
  width: .8rem;
  border-radius: 50%;
}

.results__status--online {
  background-color: #2ecc71;
}

.results__status--offline {
  background-color: #e74c3c;
}
