html {
    width:100vw;
    overflow-x:hidden;
}

body {
  background-color: #eaf1f3;
}

.container__main {
  border: 2px solid red;
  margin: 2.5rem auto;
  width: 30%;
  padding-bottom: 0.01rem;
}

.header {
  padding: 1.2rem 2rem;
  height: 10%;
  display: flex;
  background-color: #6747cd;
}

.header__logo,
.header__title,
.header__filter {
  width: 33.3%;
  align-self: center;
}

.header__title {
  color: #fff;
}

.header__title,
.nav__all,
.nav__online,
.nav__offline {
  text-align: center;
}

.header__filter {
  display: flex;
  justify-content: flex-end;
}

.svg-inline--fa {
  margin-top: 0.4rem;
  height: 1.25rem;
}

.svg-inline--fa.fa-w-14 {
  width: 1.25rem;
  color: #fff;
}

.header svg {
  stroke: #fff;
  cursor: pointer;
}

.header__filter svg {
  height: 20px;
  width: 20px;
}

.search svg {
  height: 16px;
  width: 16px;
  margin-bottom: -0.2rem;
}

.search__container {
  display: flex;
  padding: 0 1.3rem;
}

.container__inner {
  width: 90%;
  margin: 1.3rem auto;
  background-color: #fff;
  height: 60%;
}

.nav {
  padding: 1.5rem 1.5rem 0;
  display: flex;
  justify-content: space-between;
}

.nav__all,
.nav__online,
.nav__offline {
  width: 20%;
  padding-bottom: 0.3rem;
}

.nav span {
  margin-bottom: 0.5rem;
}

.search {
  margin-top: 1.25rem;
  padding-bottom: 0.1rem;
}

.search__input {
  margin-left: 0.7rem;
  padding-bottom: -5rem;
}

.search__input input {
  width: 270px;
}

.results__entry {
  padding: 1.3rem .83rem;
  letter-spacing: 0.5px;
  box-sizing: border-box;
}

.results__container {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

.results__logo {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.results__status-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.results__status--online,
.results__status--offline {
  height: .8rem;
  width: .8rem;
  border-radius: 50%;
}

.results__status--online {
  background-color: #2ecc71;
}

.results__status--offline {
  background-color: #e74c3c;
}

.dropdown__container {
  width: 290px;
}

.dropdown__header {
  border-bottom: 1px solid #ecf0f1;
  padding: 0 1.25rem;
  line-height: 1rem;
  margin: 2rem 0 1.25rem;
}

.dropdown__list-item {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.dropdown__header-subscript,
.dropdown__label {
  font-weight: normal;
  color: #7f8c8d;
  font-size: 0.88rem;
}

.dropdown__cbx {
  position: relative;
  top: 1px;
  width: 17px;
  height: 17px;
  border: 1px solid #c8ccd4;
  border-radius: 3px;
  vertical-align: middle;
  transition: background 0.1s ease;
  cursor: pointer;
  display: inline-block;
}

.dropdown__cbx::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 6px;
  width: 3px;
  height: 7px;
  opacity: 0;
  transform: rotate(45deg) scale(0);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: all 0.3s ease;
  transition-delay: 0.15s;
}

.dropdown__label {
  cursor: pointer;
  vertical-align: middle;
}

input:checked ~ .dropdown__cbx {
    border-color: transparent;
    background: #6871f1;
    animation: jelly 0.6s ease;
}

input:checked ~ .dropdown__cbx::after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
}

input[type="checkbox"] {
  display: none;
}

@keyframes jelly {
  0% {
    transform: scale(1, 1);
  }
  30% {
      transform: scale(1.25, 0.75);
  }
  40% {
      transform: scale(0.75, 1.25);
  }
  50% {
      transform: scale(1.15, 0.85);
  }
  65% {
      transform: scale(0.95, 1.05);
  }
  75% {
      transform: scale(1.05, 0.95);
  }
  100% {
      transform: scale(1, 1);
  }
}
