.search__input input {
  outline: none;
}

#nav__clicked {
  color: #6747cd;
  border-bottom: 2px solid #6747cd;
  font-weight: bold;
  opacity: 1;
}

.results__entry:hover {
  background-color: #D8D8F9;
  border-left: 2.5px solid #6747cd;
  margin-left: -2.5px;
}
